
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmailSent</title>
    <link rel="shortcut icon" href="Images/favicon-32x32.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="Images/apple-touch-icon.png">
</head>
<body>
    <div> 
        <p>Please confirm your account by clicking the link on the email that we sent you. Thank you for joining us!</p>

    </div>
</body>
</html>
