@using rhBugTracker.Helpers
@using Microsoft.AspNet.Identity
@model IEnumerable<rhBugTracker.Models.ProjectViewModel>

@{
    var userId = User.Identity.GetUserId();
    var projectHelper = new ProjectHelper();
}


    <div class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Projects I'm on</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>DESCRIPTION</th>
                                    <th>CREATED ON</th>
                                    <th>TICKETS ON PROJECT</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>NAME</th>
                                    <th>DESCRIPTION</th>
                                    <th>CREATED ON</th>
                                    <th>TICKETS ON PROJECT</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var projects in projectHelper.ListProjectsUserIsOn(userId))
                                {
                                    <tr>
                                        <td>@projects.Name</td>
                                        <td>@projects.Description</td>
                                        <td>@projects.Created</td>
                                        <td>@projects.Tickets.Count()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>


@section scripts{
    <script>
        $('#datatable').DataTable();
    </script>
}