@using Microsoft.AspNet.Identity
@using rhBugTracker.Helpers
@using rhBugTracker.Models

@model rhBugTracker.Models.Dashboard

@{
    var projectHelper = new ProjectHelper();
    var userId = User.Identity.GetUserId();
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">MY CREATED PROJECTS</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>PROJECT NAME</th>
                                <th>PROJECT DESCRIPTION</th>
                                <th>CREATED ON</th>
                                <th>TICKETS ON PROJECT</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>PROJECT NAME</th>
                                <th>PROJECT DESCRIPTION</th>
                                <th>CREATED ON</th>
                                <th>TICKETS ON PROJECT</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var projects in Model.createdProjects)
                            {
                                <tr>
                                    <td>@projects.Name</td>
                                    <td>@projects.Description</td>
                                    <td>@projects.Created</td>
                                    <td>@projects.Tickets.Count()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>


<script src="~/Content/datatable/dataTables.jqueryui.js"></script>
<script src="~/Content/datatable/dataTables.jqueryui.min.js"></script>



@section scripts{
    <script>
        $('#datatable').DataTable();
    </script>
}
